<form method="POST" action="{% url 'edit' %}" enctype="multipart/form-data">
  {% csrf_token %}
   <div class="form-group">
<label>Bio: </label> <textarea name="bio" cols="40" rows="10" required id="bio"></textarea>
  </div>
  <div class="form-group">
<label>Age: </label> <input type="number" name="age" required id="age" />
  </div>
  <div class="form-group">
<label>Education: </label> <input type="text" name="education" required id="education" />
  </div>  
  <div class="form-group">
<label>Address: </label> <input type="text" name="address" required id="address" />
  </div>
  <div>
Change:
<input type="file" name="image" id="image" />
  </div>
  <button type="submit">Submit</button>


 <!--
    {{form.as_p}}
-->
</form>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'profile' %}">profile</a>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'signup' %}">signup</a>
<a href="{% url 'edit' %}">edit</a>
<a href="{% url 'desc' %}">desc</a>
