<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <label for='username'>Enter Your username : </label>
  <input type="text" name='username' /><br>
  <label for='Password'>Enter Your Password : </label>
  <input type="password" name='password' /><br>
  <button type="submit">Login</button>
</form><a href="{% url 'home' %}"></a>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'profile' %}">profile</a>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'signup' %}">signup</a>
<a href="{% url 'edit' %}">edit</a>
<a href="{% url 'desc' %}">desc</a>
