<h1 align="center">All Profile Post</h1>
<div style="border:5px solid black;margin-bottom:5px;">
<h1><u>Our Description</u></h1>
<img width="100px" height="50px" src="/media/{{product.user.image}}" alt=""><a href="{% url 'Userprofile'  product.user.id %}"><h1>{{product.user.user}}</h1></a>

<h1>Title: {{product.title}}</h1>
<h1>Description: {{product.desc}}</h1>


<form method="POST" action="" style="">
	{% csrf_token %}
	<input type="submit" value="delete" style="">
</form>

<a href="/products/update/{{ product.id }}"><button>Update</button></a>
    <!--/products/{{d.id}}-->

<br><br>
</div>

                <!--main comment-->
              <!--  <div id="main-comment">
                  <div>

                 <div>

                     <form class="form-group" action="" method="post">
                         {% csrf_token %}
                        <input type="text" placeholder="comment text..." name="comment_text">
                         <button  onclick="valueChange(event)" type="submit" name="comment">send</button>
                     </form>
                 </div>
                </div>
                </div>-->

<a href="{% url 'home' %}">home</a>
<a href="{% url 'profile' %}">profile</a>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'signup' %}">signup</a>
<a href="{% url 'edit' %}">edit</a>
<a href="{% url 'desc' %}">desc</a>
  